./ocr_venv/lib/python3.10/site-packages/paddle/libs/libmklml_intel.so
./ocr_venv/lib/python3.10/site-packages/paddle/base/libpaddle.so
./ocr_venv/lib/python3.10/site-packages/nvidia/cusolver/lib/libcusolver.so.11
./ocr_venv/lib/python3.10/site-packages/nvidia/nccl/lib/libnccl.so.2
./ocr_venv/lib/python3.10/site-packages/nvidia/cusparse/lib/libcusparse.so.12
./ocr_venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_adv_train.so.8
./ocr_venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_adv_infer.so.8
./ocr_venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_cnn_train.so.8
./ocr_venv/lib/python3.10/site-packages/nvidia/cudnn/lib/libcudnn_cnn_infer.so.8
./ocr_venv/lib/python3.10/site-packages/nvidia/cufft/lib/libcufft.so.11
./ocr_venv/lib/python3.10/site-packages/nvidia/cublas/lib/libcublasLt.so.12
./ocr_venv/lib/python3.10/site-packages/nvidia/cublas/lib/libcublas.so.12
./ocr_venv/lib/python3.10/site-packages/torch/lib/libtorch_cpu.so
./ocr_venv/lib/python3.10/site-packages/torch/lib/libtorch_cuda.so
./ocr_venv/lib/python3.10/site-packages/triton/_C/libtriton.so
./ocr_venv/lib/python3.10/site-packages/tensorflow/libtensorflow_cc.so.2
./results/images/preprocessed/example2_config61.tiff
./results/images/preprocessed/example2_config157.tiff
./results/images/preprocessed/example2_config117.tiff
./results/images/preprocessed/example2_config77.tiff
./results/images/preprocessed/example2_config5.tiff
./results/images/preprocessed/example2_config45.tiff
./results/images/preprocessed/example2_config21.tiff
./results/images/preprocessed/example2_config141.tiff
./results/images/preprocessed/example2_config37.tiff
./results/images/preprocessed/example2_config101.tiff
./results/images/preprocessed/example2_config125.tiff
./results/images/preprocessed/example2_config85.tiff
