{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Reports</title>
    <link rel="stylesheet" href="{% static 'pregpal/css/page2_1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Upload Reports</h1>
        <form action="{% url 'process_reports'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Choose file to upload:</label>
            <input type="file" id="file" name="file" accept=".pdf,.png,.jpg,.webp" required>
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>