{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Reports</title>
    <link rel="stylesheet" href="{% static 'pregpal/css/page2_1.css' %}">
</head>
<body>
    <div class="container">
        <h1>Upload Reports</h1>
        <form action="{% url 'process_reports'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Choose file to upload:</label>
            <input type="file" id="file" name="file" accept=".pdf,.png,.jpg,.webp" required>
            <button type="submit">Upload</button>
        </form>

        {% if output %}
            <h2>Output:</h2>
            <pre>{{ output|pprint }}</pre>
            <form action="{% url 'convert_to_sql' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="json_data" value="{{ output|stringformat:'s' }}">
                <button type="submit">Convert to SQL Query</button>
            </form>
        {% endif %}

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if sql_query %}
            <h2>SQL Query:</h2>
            <pre>{{ sql_query }}</pre>
        {% endif %}
        
    </div>
</body>
</html>