body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Adjust height as needed */
    margin: 0; /* Ensure no default margin */
}

.background-image {
    background-image: url('/static/ui/images/page1-background.png');
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center;
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    opacity: 0.5; /* 50% transparent */
    position: fixed; /* Use fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send to back */
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%; /* Ensure container takes full width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.box {
    position: relative;
    flex: 1 1 30%; /* Grow and shrink equally, with a base size of 30% */
    margin: 10px;
    max-width: 300px; /* Optional: Limit the maximum size of each box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.box:hover .overlay {
    opacity: 1;
}

.overlay a {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}
