body {
    font-family: "Bookman Old Style", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/static/ui/images/page1-background.png');
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
}