body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px; /* Adds space between buttons */
}
.button-green, .button-red, .home-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.button-green {
    background-color: green;
}

.button-red {
    background-color: red;
}

.home-button {
    background-color: #FF9800;
}


.button-green:hover {
    background-color: #218838;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button-red:hover {
    background-color: #c82333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.homey-button:hover {
    background-color: #FFC107;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
